
.strategy-selector {
    float: right;
    /*transform: translateY(-21px);*/
    color: darkgrey;
    font-style: italic;
    border-style: none;
}

.container {
    /*display: flex;*/
    /*justify-content: center;*/
}
.oldCentered {
    text-align: center;
}

.vertical {
    /*flex-direction: column;*/
}

.container input{
    margin: auto;
}

.container label{
    font-weight: bold;
    font-size: medium;
    color: darkgray;
}

.action-buttons {
    margin: 1em;
}

.round-button {
    display:inline-block;
    width:40px;
    height:40px;
    line-height:40px;
    border-radius: 50%;
    text-align:center;
    text-decoration:none;
    color: #18b7ff!important;
    background: white;
    font-size:12px;
    font-weight:bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.selectedRoundButton {
    color: white!important;
    background: #18b7ff;
}

.pretty-print {
    color: darkgray;
    font-size: medium;
    font-weight: bold;
    background-color: #f7f7f7;
    border: .2em solid #fff;
    border-radius: 5px;
    overflow: auto;
    padding: 5px;
    width: 100%;
    height: 28vh;
}

.feelinTwentyTwo{
    height: 20vh;
}

.fiftyPixelsHigh{
    height: 47px;
    font-size: medium;
    font-weight: bold;
}


.k-slider .k-slider-selection {
    background-color: yellowgreen;
}

#graph-view > div.km-content.km-widget.km-native-scroller > div:nth-child(9) > div > div > div > a {
    width: 35px;
    height: 35px;
    opacity: .8;
}

#graph-view > div.km-content.km-widget.km-native-scroller > div.container.vertical{
    display: inline-block;
}

h1.app-logo {
    margin: 3em 0;
    font-size: 3em;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    line-height: .9em;
}

a.wideButton.km-widget.km-button {
    width: 32%;
    height: 13%;
    margin: 0 0 0 0;
    margin-bottom: 10px;
    padding-top: 10%;
    color: #18b7ff;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px #A9A9A9;
}

a.wideButton.km-widget.km-button.activeButton {
    color: #fff;
    background-color: #18b7ff;
    box-shadow: 0 5px #27496d;
    transform: translateY(5px);
}

#payment-keyboard{
    width: 15%;
    text-align: center;
    border-style: dotted;
    font-weight: bold;
    font-size: medium;
    color: yellowgreen;
}

#loginpage .km-back {
    display: none;
}

#graph-view > div.km-content.km-widget.km-native-scroller{
    background-color: #f7f7f7;
}